

/*========================================================================*/
/*                        Account Page Style                              */
/*========================================================================*/

.accountBody {
    background-color: #0079bf;
}

/*========================================================================*/
/*                          Home Page Style                               */
/*========================================================================*/

.homeBody {
    background-color: #0079bf;
}

#logOut {
    padding: 3px 20px;
}