

/*========================================================================*/
/*                        Account Page Style                              */
/*========================================================================*/

.accountBody {
    background-color: #0079bf;
}

/*========================================================================*/
/*                          Home Page Style                               */
/*========================================================================*/

.homeBody {
    background-color: #ffffff;
    color: white;    
}

#logOut {
    padding: 3px 20px;
}

.jumbotron {    
    background-color: #0079bf;
    min-height: 600px;
}




